.simple-button {
    display: block;
    background-color: black;
    color: white;
    border: 0;
    border-radius: 10px;
    min-width: 100px;
    min-height: 50px;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
}
.simple-button:hover {
    background-color: white;
    color: black;
}
#main {
}