* {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
/* Buttons code */
.simple-button {
    white-space: nowrap;
    display: inline-block;
    background-color: black;
    color: white;
    border: 0;
    border-radius: 0px;
    min-width: 20%;
    min-height: 20vh;
    transition-duration: 200ms;
    -webkit-transition-duration: 200ms;
    font-size: 10vh;
}
.simple-button:hover {
    background-color: white;
    color: black;
}
.simple-button:active {
    background-color: black;
    color: white;
}
/* Text field code */
.simple-text-field { 
    white-space: nowrap;
    font-size: 15vh;
    display: flex;
    background-color: black;
    color: white;
    border: 0;
    border-radius: 0px;
    min-width: 100%;
    min-height: 20vh;
}